
body{
	overflow-x: hidden;

}
#ani{
position: absolute;
height: 600px;
	width: 100%;
	
}

.rio{
	  padding-left: 60%;
 padding-top: 10%;
   font-size: 80px;
color: white;
	position: relative;
}


.pl{

font-size: 30px;

}

#e3{


	position: relative;
}
#adoption{

	margin-top: 80px;
}

#monkey{


	margin-top: 40px; 

}
#uli{
		border: 1px solid black;
	width: 300px;
	padding: 30px; 

	font-size: 20px;
}
#pira{

	padding: 1px;

}

#para{

margin-left: 30%;


}


#pir{

margin-left: 30%;
font-size: 20px;
	
}
#lim{
margin-left: -10%;
margin-right: 10%;
margin-top: -18.5%;
 font-size: 40px;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 30%;
    margin-top: 10px;
}

a:hover, a:active {
    background-color: red;
}

#monkeyyy{

	margin-left: 10%;
	font-size: 20px;

}

#head{

margin-left: 10%;
	font-size: 30px;

}

#hyt{


	font-size: 30px;


}

.dev{

	   padding: 10px;
    float: left;
    width: 24%;

}

div.gallery {
    border: 1px solid green;
   padding-right: 90px;

}

div.gallery:hover {
    border: 1px solid blue;

}

div.gallery img {
    width: 100%;
    height: auto;

 
}

div.banor {
    padding: 9px;
    text-align: center;
    margin-left: 100px;
}
* {
    box-sizing: border-box;

}

a.high{

	background-color: white;

}



#fotterr{


  border: 1px solid #D4D4C4;

  width: 100%;

  height: 300px;

  background-color: #D4D4C4;
  margin-top: 4%;
}
#kil{

  display: flex;
  position: absolute;

  left: 30%;

padding: -10%;
}
.nil{

  list-style: none;
padding: 40px;
}

.bil{
padding: 20px;

  width: 80px;
  height: 80px;
  background: #fff;
  text-align: center;
  font-size: 35px;
  margin: 0 10px;
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
}


i{


  color: black;
}

